*.key
*.crt
k0s-home/local-storage/adguard-data/work/data
k0s-home/local-storage/authentik-data/
k0s-home/local-storage/authentik-data/pgsql/
k0s-home/local-storage/authentik-data/redis/
k3d-home/local-storage/adguard-data/work/data
k3d-home/local-storage/authentik-data
k3d-home/manifests/ccm.yaml
k3d-home/manifests/coredns.yaml
k3d-home/manifests/local-storage.yaml
k3d-home/manifests/metrics-server/
k3d-home/manifests/rolebindings.yaml
k3d-home/manifests/runtimes.yaml
k3d-home/manifests/traefik.yaml
k3d-home/k3d.yaml