*.key
*.crt
*.pem
gitops/local-storage/wireguard-data
gitops/local-storage/headscale-data/db*
gitops/local-storage/adguard-data/work/data
gitops/local-storage/authentik-data/
gitops/local-storage/authentik-data/pgsql/
gitops/local-storage/authentik-data/redis/
gitops/local-storage/homarr-data/
k0s-home/local-storage/adguard-data/work/data
k0s-home/local-storage/authentik-data/
k0s-home/local-storage/authentik-data/pgsql/
k0s-home/local-storage/authentik-data/redis/
k3d-home/local-storage/adguard-data/work/data
k3d-home/local-storage/authentik-data
k3d-home/local-storage/homarr-data/
k3d-home/manifests/ccm.yaml
k3d-home/manifests/coredns.yaml
k3d-home/manifests/local-storage.yaml
k3d-home/manifests/metrics-server/
k3d-home/manifests/rolebindings.yaml
k3d-home/manifests/runtimes.yaml
k3d-home/manifests/traefik.yaml
k3d-home/k3d.yaml

node_modules
.devbox

# database
*.sqlite

.venv
# mkdocs output directory
site/

# Talos config and kubeconfig
**/kubeconfig*
**/talosconfig*

# Helm files
**/Chart.lock
**/charts/*.tgz

.cache/
pdf/
*.pdf
.task
