---
plan:
  # renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
  kubeversion: v1.35.2
  # renovate: datasource=docker depName=ghcr.io/siderolabs/installer
  talosVersion: v1.12.4

system-upgrade-controller:
  image:
    repository: rancher/system-upgrade-controller
    pullPolicy: IfNotPresent
    tag: v0.19.0

  plan:
    kubernetes:
      enabled: false

  envs:
    SYSTEM_UPGRADE_CONTROLLER_DEBUG: false
    SYSTEM_UPGRADE_CONTROLLER_THREADS: 2
    SYSTEM_UPGRADE_JOB_IMAGE_PULL_POLICY: IfNotPresent
    SYSTEM_UPGRADE_JOB_KUBECTL_IMAGE: registry.k8s.io/kubectl:v1.35.2
    SYSTEM_UPGRADE_JOB_PRIVILEGED: true
